.newContact__input {
    background: transparent;
    border: 1px solid #C8C5D1;
    height: 20px;
    margin: 0 !important;
    width: 215px !important;
    padding: 8px 12px !important;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

.newContact__input:focus {
    outline: none;
}

.newContact__container {
    display: flex;
    margin-bottom: 25px;
}

.newContact__containerItem {
    list-style: none;
    margin: 0;
    padding: 0;
}

.newContact__inputError {
    position: absolute;
    font-size: 10px;
    line-height: 14px;
    color: #F06A4D;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
    top: -8px;
    background-color: #F4F3F6;


}

.newContact__inputContainer {
    position: relative;
    display: flex;
    justify-content: center;
}

.newContact__buttonDelete {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    border: 1px solid #C8C5D1;
    border-left: none;
    cursor: pointer;
    transition: 0.15s linear;
}

.newContact__buttonDelete:hover {
   background: #E7E5EB;
}

.newContact__buttonDelete:hover svg path {
    fill: #F06A4D;
}

.newContact__buttonDelete svg path {
    transition: 0.15s linear;
}


@media (max-width: 520px) {
    .newContact__input{
        padding: 8px 6px !important;
        width: 120px !important;
    }
    .newContact__inputError{
        text-align: center;
        width: 120px;
        top: -15px;
        line-height: 12px;
    }

}